<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="spring.dev.dao.UserDaoJdbc" >
        <property name="dataSource" ref="dataSource" />
        <!--<property name="jdbcContext" ref="jdbcContext" />-->
    </bean>

    <bean id="userService" class="spring.dev.service.UserService">
        <property name="userDao" ref="userDao" />
        <property name="dataSource" ref="dataSource" />
        <property name="userLevelUpgradePolicy" ref="userLevelUpgradePolicy"/>
    </bean>

    <bean id="userLevelUpgradePolicy" class="spring.dev.service.EventUserLevelUpgrade">

    </bean>

    <!--
    <bean id="jdbcContext" class="spring.dev.dao.JdbcContext">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    -->
    <!--<bean id="connectionMaker" class="spring.dev.dao.DConnectionMaker" />-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:tcp://localhost/~/test" />
        <property name="username" value="sa"/>
        <property name="password" value="test" />
    </bean>


</beans>